{{ define "headfiles" }}
{{ if .Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.18.7/dist/katex.min.css" integrity="sha384-JctiRyLzXCrSoOOzFlSoWLdyzQl7OrrRnhyeBmzB6ZWtcjccUyc8lCQJqIbs3uQX" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
{{ partial "breadcrumbs" . }}
<link rel="stylesheet" href="{{ "css/play.css" | relURL }}">
<section class="resume-section p-3 p-lg-5 d-flex flex-column play-page">
  <div class="my-auto">
    <h1 class="mb-2">{{ .Title }}</h1>
    {{ with .Params.description }}<p class="lead">{{ . }}</p>{{ end }}
    <div class="play-prose">{{ .Content }}</div>
    {{ with .Params.widget }}{{ partial (printf "play/%s.html" .) $ }}{{ end }}
  </div>
</section>
{{ if .Params.math }}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.7/dist/katex.min.js" integrity="sha384-+7Keh381hSkXmXqnjC0JBM/kzsN6TFj+wMKychSLjTvJ8/0ElMde2uKl8i6p6Buj" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.7/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"></script>
<script defer src="{{ "js/math-init.js" | relURL }}"></script>
{{ end }}
{{ with .Params.script }}<script src="{{ . | relURL }}" defer></script>{{ end }}
{{ end }}
